*{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
}

a{
    text-decoration: none;
    font-family: 'Roboto', serif;
}

body{
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#logo{
    margin-top: 10px;
    margin-bottom: 10px;    
    flex: 1;
}

#header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-sizing: border-box;
}


#barra {
    flex:1;
    display: flex;
    align-items: center;
}

#barra ul, #barra li{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-left: 15px;
}

#barra a{
    color: black;
    font-weight: bolder;
}

#rodape{
    margin-top: 25px;
    padding: 24px;
}

#rodape button{
    color: white;
    background-color: greenyellow;
}

#rodape h2, #rodape p, #rodape a{
    color: white;
    text-align: center;
}
#rodape ul, #rodape li{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 25px;
}

#principal{
    display: flex;
    padding: 20px;
    margin: 20px;
    color: white;
}

#principal h2{
    color: white;
}

#registro{
    margin-top: 50px;
    padding: 24px;
    font-family: 'Roboto', sans-serif;
}
label{
    color: white;
}

#registro h1{
    color: greenyellow;
}
@media (max-width: 768px){
    #header{
        flex-direction: column;
    }

    #logo{
        text-align: center;
    }

    #barra{
        background-color: white;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    #barra ul, #barra li{
        justify-content: center;
        margin-left: 0px;
        padding: 10px;
    }
}