*{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
}

html{
    min-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

a{
    text-decoration: none;
    font-family: 'Roboto', serif;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#logo{
    margin-top: 10px;
    margin-bottom: 10px;
}

#header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-sizing: border-box;
}


#barra {
    display: flex;
    justify-content: end;
}

#barra ul, #barra li{
    display: flex;
    padding: 10px;
    margin: 5px;
}

#barra a{
    color: black;
    font-weight: bolder;
}

#rodape{
    margin-top: 25px;
    padding: 15px;
    bottom: 0;
    width: 100%;
}

#rodape button{
    color: white;
    background-color: olivedrab;
}

#rodape button:hover{
    color: white;
    background-color: green;
}

#rodape h2, #rodape p, #rodape a{
    color: white;
    text-align: center;
}

#rodape ul{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#rodape li{
    padding: 10px;
}

#principal{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 20px;
    color: white;
}

#principal p{
    color:white;
}

#principal .btn{
    background-color: olivedrab;
    color: white;
}

#principal .btn:hover{
    background-color: green;
    color: white;
}

#principal h2{
    color: white;
}

main{
    flex: 1 1 0;
    display: flex;
}

#registro{
    flex: 1 1 0;
    display: flex;
    margin: 20 px;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
}

#registro .btn{
    background-color: olivedrab;
    color: white;
}

#registro .btn:hover{
    background-color: green;
    color: white;
} 

#links::before{
    content: '🌐';
    color: white;
}

#newsletter::before{
    content: '📬';
    color: white;
}

label{
    color: white;
}

#registro h1{
    color: greenyellow;
}

@media (max-width: 768px){
    #header{
        justify-content: center;
    }

    #logo{
        text-align: center;
    }

    #barra{
        background-color: white;
        justify-content: center;
        margin-bottom: 0;
    }

    #barra ul, #barra li{
        justify-content: right;
        margin-left: 0px;
    }

    #principal{
        margin: 5px;
        padding: 5px;
    }

    #rodape ul{
        flex-direction: column;
    }
}